{% extends 'layout.html' %} 

{% load django_bootstrap5 %} 
{% block content %}

  <html> 
    <head> 
      <link 
        rel="stylesheet"      
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/> 
  

    </head> 

      <body> 
        <div class="i-am-centered"> 
          <form method="POST"> 
            {% csrf_token %} 
            <div class="form-group"> 


        <label>Marca: </label> 
        {{ form.marca }} 
        </div> 
        <div class="form-group"> 
        <label>Modelo: </label> 
        {{ form.modelo }} 
        </div> 
        <div class="form-group"> 
        <label>Serial de Carroceria: </label> 
        {{ form.serialCarroceria }} 
        </div> 
        <div class="form-group"> 
        <label>Serial del Motor: </label> 
        {{ form.serialMotor }} 
        </div> 
        <div class="form-group"> 
        <label>Categoria: </label> 
        {{ form.categoria }} 
        </div> 
        <div class="form-group"> 
        <label>Precio: </label> 
        {{ form.precio }} 
        </div>     
      
        <button type="submit" class="btn btn-primary">Enviar</button> 
        </form> 
        </div> 
        </body> 

    </html>   

  {% endblock content %}

